*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
	background-color:#e5e5e5;
    width:100%;
	height:100%;
    transition: .8s;
    overflow: hidden;
}
.main{
    display: flex;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 1500px;
    height: 650px;
    margin: 2% auto;
    border-radius: 17px;
    justify-content: space-around;
    padding: 25px 0px;
}
.cards{
    width: 1380px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    padding:  2% 39%;
}
.card{
    display: flex;
    background-color: #cccccc;
    width: 300px;
    height: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 17px; 
    transition: .33s;
    cursor: pointer;
    opacity: .8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform-origin: bottom center;

}
.card:hover{
    z-index: 2;
    opacity: 1;
    margin-top: -10px;
    transition: .33s;
}
#card1{
    background-image: url(./images/hulk.png);
    transform: rotate(-30deg);
}
#card1:hover{
    margin-left: -30px;
}
#card2{
    background-image: url(./images/iron_man.png);
    transform: rotate(-20deg);    
}
#card2:hover{
    margin-left: -20px;
}
#card3{
    background-image: url(./images/thor.png);
    transform: rotate(-10deg);   
}
#card3:hover{
    margin-left: -10px;
}

#card4{
    background-image: url(./images/black_panther.png);
    transform: rotate(0deg);    
}
#card5{
    background-image: url(./images/capitan_am.png);
    transform: rotate(10deg);    
}
#card5:hover{
    margin-left: 10px;
}
#card6{
    background-image: url(./images/captain_marvel.png);
    transform: rotate(20deg);
}
#card6:hover{
    margin-left: 20px;
}
#card7{
    background-image: url(./images/spider_man.png);
    transform: rotate(30deg);    
}
#card7:hover{
    margin-left: 30px;
}

.card_open{
    transition: .8s;
    z-index: 2;
    opacity: 1;
    transform: rotateY(180deg)!important;

}
.card1{
    background-image: url(./images/hulk.jpg)!important;
}

.card2{
    background-image: url(./images/iron_man.jpg)!important;
}

.card3{
    background-image: url(./images/thor.jpg)!important;
}

.card4{
    background-image: url(./images/black_panther.jpg)!important;
}

.card5{
    background-image: url(./images/capitan_am.jpg)!important;
}

.card6{
    background-image: url(./images/capitan_marvel.jpg)!important;
}

.card7{
    background-image: url(./images/spider_man.jpg)!important;
}
